.background{
    background-color: rgb(0,25,76);
    width: 100%;
}

.container{
    width: 40%;
    display: flex;
    color: white;
    align-items: center;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.brand{
    font-size: 25px;
    font-weight: 700;
    width: 30%;
    width: auto;
    margin-right: auto;
}

.ekat{
    display: flex;
    width: auto;
    margin-right: 20%;
}

.tokat{
    display: flex;
    margin-right: auto;
}